.Polaris-DownshiftSearch-Wrapper {

  .Polaris-OptionList__Options {
    max-height: 450px;
    overflow-y: auto;
  }

  .Polaris-Thumbnail {
    margin-right: 10px;
  }
}

.Polaris-DownshiftSearch-Menu__Wrapper {
  position: relative;
  width: 100%;
  margin-top: 3px;
}

.Polaris-DownshiftSearch-Menu__Inner-Wrapper {
  width: 100%;
}

.font-bold {
  font-weight: 700;
}

.Search-Customer-Avatar-Wrapper {
  margin-right: 12px;
}