.Metafields-Form {
  .Polaris-ChoiceList__Choices {
    display: flex;
    align-items: center;
    & > li:not(:first-child) {
      margin-left: 30px;
    }
  }

  .Polaris-Choice {
    cursor: pointer;
  }

  .Polaris-TextField--multiline > .Polaris-TextField__Input {
    max-height: 700px;
  }
}