.Polaris-MultiDownshiftSearch-Wrapper {

  .Polaris-OptionList__Options {
    max-height: 450px;
    overflow-y: auto;
  }

  .Polaris-OptionList-Option.highlighted {
    background: var(--p-button-color,linear-gradient(180deg,#6371c7,#5563c1));
    color: var(--p-text-on-branded,#fff);
    font-weight: 700;
  }

  .Polaris-Thumbnail {
    margin-right: 10px;
  }
}

.Polaris-DownshiftSearch-Menu__Wrapper {
  position: relative;
  width: 100%;
  margin-top: 3px;
}

.Polaris-DownshiftSearch-Menu__Inner-Wrapper {
  width: 100%;
}

.font-bold {
  font-weight: 700;
}

.Search-Customer-Avatar-Wrapper {
  margin-right: 12px;
}