.PInput {
  line-height: 1.5 !important;

  &:is([disabled], .disabled) {
    color: var(--p-text-disabled);
    cursor: initial;

    & + .Polaris-TextField__Backdrop {
      background-color: var(--p-surface-disabled);
      border-color: var(--p-border-subdued);
      border-top-color: var(--p-border-disabled);
    }
  }
}
