.shopify_metafields_app_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(100%);
  height: 100%;
  z-index: 449;
  width: calc(100% - 240px);
  background-color: rgba(31, 37, 51, 0.5);
  transition: all .3s ease;
  cursor: pointer;
}

.shopify_metafields_app_root > iframe {
  width: calc(100% - 250px);
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  background: #fff;
  border: 1px solid #dadada;
  transition: all .3s ease;

  opacity: 0;
  position: fixed;
  z-index: 450;
  top: calc(50% + 56px);
  right: 0;
  max-height: 80vh;
  min-height: 500px;
  transform: translateY(-54%) translateX(100%); /* default state is hidden/not in viewport */
}

@media (max-width: 768px) {
  .shopify_metafields_app_root > iframe {
    width: 100%;
  }
  .shopify_metafields_app_overlay {
    width: 100%;
  }
}

.centered_loading_wrapper {
  position: relative;

}
.centered_loading_content {
  transition: opacity 0.2s;
  opacity: 1;
}
.centered_loading_content.is_loading {
  position: relative;
  opacity: 0.5;
}

/* invisible overlay */
.centered_loading_wrapper.is_loading::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 98;
}
.centered_loading_wrapper.is_loading::after {
  content: "";
  position: absolute;
  top: 42%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  z-index: 99;
  background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMjI5IDEuMTczYTkuMjUgOS4yNSAwIDEgMCAxMS42NTUgMTEuNDEyIDEuMjUgMS4yNSAwIDEgMC0yLjQtLjY5OCA2Ljc1IDYuNzUgMCAxIDEtOC41MDYtOC4zMjkgMS4yNSAxLjI1IDAgMSAwLS43NS0yLjM4NXoiIGZpbGw9IiM5MTlFQUIiLz48L3N2Zz4K");
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
  animation-timing-function: linear;

}


@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

/* Polaris customizations */
.Polaris-DataTable__Cell,
.Polaris-DataTable__Heading {
  padding: 0.8rem 1.6rem;
}