.shopify_metafields_app_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(100%);
  height: 100%;
  z-index: 449;
  width: calc(100% - 240px);
  background-color: rgba(31, 37, 51, 0.5);
  transition: all .3s ease;
  cursor: pointer;
}

.shopify_metafields_app_root > iframe {
  width: calc(100% - 250px);
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  background: #fff;
  border: 1px solid #dadada;
  transition: all .3s ease;

  opacity: 0;
  position: fixed;
  z-index: 450;
  top: calc(50% + 56px);
  right: 0;
  max-height: 80vh;
  min-height: 500px;
  transform: translateY(-54%) translateX(100%); /* default state is hidden/not in viewport */
}

@media (max-width: 768px) {
  .shopify_metafields_app_root > iframe {
    width: 100%;
  }
  .shopify_metafields_app_overlay {
    width: 100%;
  }
}

/* Polaris customizations */
.Polaris-DataTable__Cell,
.Polaris-DataTable__Heading {
  padding: 0.8rem 1.6rem;
}